.wrapper {
	@media screen and (max-width: 768px) {
		flex-direction: column;
	}
}
.sidebar {
	max-width: 70px;
	width: 100%;
	min-height: 100vh;
	background-color: #04254E;
	@media screen and (max-width: 768px) {
		max-width: 100%;
		min-height: auto;
	}
	&-logo {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		padding: 23px 0;
		box-shadow: inset 0 0 0 2px #04254E;
		@media screen and (max-width: 768px) {
			padding: 10px 0;
			max-width: 110px;
		}
		&:hover {
			background-color: #FFFFFF1A;
			cursor: pointer;
		}
	}
}

.sidebar .nav {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	flex-wrap: nowrap;
	height: 100vh;
	overflow-Y: auto;
	overflow-X: hidden;
	position: sticky;
	top: 0;
	left: 0;
	@media screen and (max-width: 768px) {
		height: auto;
		flex-direction: row;
		overflow-Y: visible;
		overflow-X: visible;
	}
	&::-webkit-scrollbar {
		width: 2px;
		padding-right: 8px;
	}
	&::-webkit-scrollbar-track {
		background-color: #FFFFFF;
		border-radius: 8px;
	}
	&::-webkit-scrollbar-thumb {
		border-radius: 6px;
		background-color: #C2CDD8;
	}
	&-list {
		width: 100%;
		margin-bottom: 0;
		&-item {
			padding: 0;
			&:first-child {
				& .nav-list-link {
					background-color: #fff;
					padding-bottom: 23px;
					@media screen and (max-width: 768px) {
						padding-bottom: 10px;
					}
				}
			}
		}
	}
	&-info {
		width: 100%;
		margin-bottom: 0;
		@media screen and (max-width: 768px) {
			width: auto;
		}
		&-item {
			padding-bottom: 60px;
			@media screen and (max-width: 768px) {
				padding-bottom: 0;
			}
			& .dropdown .dropdown-toggle {
				width: 100%;
				border-radius: 0;
				--bs-btn-color: #FFFFFF;
				--bs-btn-hover-color: #FFFFFF;
				--bs-btn-hover-bg: #fffFFF1A;
				--bs-btn-hover-border-color: transparent;
				--bs-btn-active-color: #FFFFFF;
				--bs-btn-active-bg: transparent;
				--bs-btn-active-border-color: transparent;
				&.show {
					&::after {
						transform: rotate(180deg);
					}
				}
			}
			& .dropdown-menu.show {
				min-width: 100%;
			}
		}
	}
}