.container-fluid {
	padding-right: 20px;
	padding-left: 20px;
	@media screen and (max-width: 1280px) {
		padding-right: 10px;
		padding-left: 10px;
	}
}
.table-for-others .last-update > td:first-child .last-update-item{
	position: relative;
	transform: translateY(0%);
	right: -6px;
}
.last-update-item {
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M6.43196 2.41226L1.13821 11.2498C1.02907 11.4388 0.971319 11.6531 0.970708 11.8713C0.970097 12.0896 1.02665 12.3042 1.13473 12.4938C1.24282 12.6835 1.39867 12.8415 1.58678 12.9522C1.7749 13.0629 1.98871 13.1224 2.20696 13.1248H12.7945C13.0127 13.1224 13.2265 13.0629 13.4146 12.9522C13.6028 12.8415 13.7586 12.6835 13.8667 12.4938C13.9748 12.3042 14.0313 12.0896 14.0307 11.8713C14.0301 11.6531 13.9724 11.4388 13.8632 11.2498L8.56947 2.41226C8.45805 2.22858 8.30117 2.07671 8.11396 1.97131C7.92676 1.86592 7.71555 1.81055 7.50072 1.81055C7.28588 1.81055 7.07467 1.86592 6.88747 1.97131C6.70026 2.07671 6.54338 2.22858 6.43196 2.41226Z' stroke='%23F97474' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' /%3e%3cpath d='M7.5 5.625V8.125' stroke='%23F97474' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' /%3e%3ccircle cx='7.5' cy='10.625' r='0.625' fill='%23F97474' /%3e%3c/svg%3e");
	background-repeat: no-repeat;
	width: 15px;
	height: 15px;
	display: none;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	right: -14px;
	z-index: 10;
}
.last-update {
	& > td {
		background-color: #FFECEC !important;
		position: relative;
		&:first-child {
			& .last-update-item {
				display: block;
			}
			& > div {
				display: flex;
				align-items: center;
			}
		}
	}
}
.dt-container {
	display: flex;
	flex-direction: column;
}

.dt-layout-row {
	display: flex;
	align-items: center;
}

.dt-layout-row:first-of-type {
	order: 1;
}


div.dt-container div.dt-layout-row {
	width: max-content;
}

div.dt-container div.dt-layout-row.dt-layout-table {
	width: 100%;
}

div.dt-container div.dt-layout-row div.dt-layout-cell.dt-layout-start {
	margin-right: 0;
}

div.dt-container div.dt-layout-row div.dt-layout-cell.dt-layout-end {
	margin-left: 0;
}


#example {
	border-bottom: none;
	
	& colgroup:first-of-type {
		display: none;
	}
	
	& thead {
		& tr {
			background-color: transparent;
			
			& th {
				padding: 0;
				border-bottom: none;
				text-align: left;
				
				&:hover {
					outline: none;
				}
				
				& .thead-wrapper {
					padding: 10px;
					@media screen and (max-width: 1280px) {
						padding: 7px 6px;
					}
					
					&.checkBox {
						max-width: 50px;
						
						& label {
							display: flex;
						}
					}
					
					&.location {
					
					}
					
					&.type {
					
					}
					
					&.area {
					
					}
					
					&.condition {
					
					}
					
					&.floor {
					
					}
					
					&.photo {
					
					}
					
					&.price {
					
					}
					
					&.contact {
					
					}
					
					&.block-actions {
						display: flex;
						align-items: center;
						text-align: right;
						justify-content: flex-end;
						grid-gap: 20px;
						
						& .btn {
							padding: 0;
							border: none;
							width: 26px;
							height: 26px;
							display: flex;
							align-items: center;
							justify-content: center;
							background-color: transparent;
							border-radius: 6px;
							
							&:hover {
								background-color: #F6F8FB;
							}
						}
					}
					
					& p {
						font-weight: 700;
						font-size: 14px;
						line-height: 108%;
						color: #aaa;
						margin: 0;
					}
				}
			}
		}
	}
	
	& tbody {
		border-radius: 8px;
		
		& tr {
			& td:first-child {
				border-radius: 8px 0 0 8px;
			}
			
			& td:last-child {
				border-radius: 0 8px 8px 0;
			}
			
			& td {
				border: none;
				border-bottom: 1px solid #EFEFEF;
				background-color: #Fff;
				padding: 0;
				
				& .tbody-wrapper {
					padding: 7px 10px;
					font-weight: 400;
					font-size: 14px;
					line-height: 108%;
					color: #111;
					@media screen and (max-width: 1280px) {
						padding: 7px 6px;
					}
					
					& > p {
						margin: 0;
						text-wrap: nowrap;
					}
					
					& > span {
						font-size: 12px;
					}
					
					& > a {
						font-size: 12px;
						color: #111;
						text-decoration: underline;
					}
					& > .link-name {
						color: #3585F5;
						text-decoration: none;
						&:hover {
							text-decoration: underline;
						}
					}
					
					&.checkBox {
						max-width: 50px;
						
						& label {
							display: flex;
						}
					}
					
					&.location {
					
					}
					
					&.type {
					
					}
					
					&.area {
					
					}
					
					&.condition {
					
					}
					
					&.floor {
					
					}
					
					&.photo {
						& > picture img {
							width: 60px;
							height: 40px;
							border-radius: 8px;
							object-fit: cover;
						}
					}
					
					&.price {
						& p {
							font-weight: 400;
							font-size: 14px;
							line-height: 107%;
							color: #111;
							text-align: left;
							text-wrap: nowrap;
							
						}
					}
					
					&.contact {
						max-width: 131px;
						& > a:not(.link-name) {
							font-size: 12px;
							font-weight: 700;
							text-decoration: underline dashed;
						}
						& > p {
							font-size: 12px;
							text-overflow: ellipsis;
							white-space: nowrap;
							overflow: hidden;
						}
					}
					
					&.block-actions {
						display: flex;
						align-items: center;
						justify-content: flex-end;
						
						& .mail-link {
							margin-right: 20px;
							display: flex;
							align-items: center;
							justify-content: center;
							height: 26px;
							width: 26px;
							padding: 0;
							border: none;
							background-color: transparent;
							border-radius: 6px;
							
							&:hover {
								background-color: #F6F8FB;
							}
						}
						
						& .block-actions-wrapper {
							& > div {
								display: flex;
								align-items: center;
							}
						}
						& .details-control-dop {
							margin-left: 22px;
						}
						& .details-control {
							margin-left: 22px;
						}
					}
				}
				
				& .tbody-dop-info {
					width: 100%;
					padding: 16px 10px;
					@media screen and (max-width: 1280px) {
						padding: 8px 6px;
					}
					
					& .info-main {
						display: flex;
						
						&-left {
							width: 100%;
							display: flex;
							flex-direction: column;
							justify-content: space-between;
							
							&-wrapper {
								display: flex;
							}
							
							& .description {
								flex: 1 2 65%;
								padding-right: 10px;
								
								&-title {
									font-weight: 700;
									font-size: 16px;
									line-height: normal;
									color: #111;
									margin-bottom: 15px;
								}
								
								&-text {
									font-weight: 400;
									font-size: 14px;
									line-height: normal;
									color: #111;
									padding-bottom: 15px;
									margin-bottom: 0;
									position: relative;
								}
								
								& .btn {
									margin-left: 2px;
									font-size: 14px;
									font-weight: 700;
									border: none;
									padding: 0 3px;
									background-color: transparent;
									color: #3585F5;
									border-radius: 0;
									border-bottom: 1px dashed #3585F5;
								}
								
								&-note {
									font-weight: 700;
									font-size: 14px;
									line-height: normal;
									color: #aaa;
									margin-bottom: 13px;
									
									& span {
										font-weight: 400;
										color: #111;
									}
								}
							}
							
							& .block-info {
								flex: 1 2 35%;
								
								& p.info-description {
									margin-bottom: 10px;
								}
							}
							
							& .filter-tags {
								width: 100%;
							}
						}
						
						&-right {
							flex: 1 2 24.5%;
							
							& .block-info {
								flex: 1 2 275px;
							}
						}
					}
					
					& .info-footer {
						padding-top: 10px;
						display: flex;
						align-items: center;
						
						&-data {
							margin-bottom: 0;
							font-weight: 700;
							font-size: 14px;
							line-height: normal;
							color: #111;
							margin-right: 20px;
							display: flex;
							align-items: center;
							grid-gap: 6px;
							& span {
								font-weight: 400;
								font-size: 12px;
							}
							& .btn {
								padding: 0;
								outline: none;
								border: none;
								line-height: normal;
								display: flex;
								align-items: center;
								justify-content: center;
								&:active {
									outline: none;
								}
							}
						}
						
						&-btn {
							margin-left: 2px;
							font-weight: 700;
							border: none;
							padding: 0 3px;
							background-color: transparent;
							color: #3585F5;
							border-bottom: 1px dashed #3585F5;
							&.close-btn-other {
								display: none;
								&.active {
									display: block;
								}
							}
						}
					}
				}
				
				& .table-for-others {
					box-shadow: inset 0 0 0 1px #D5DBE3;
					padding: 1px;
					margin: 0 0 20px;
					border-radius: 8px;
					
					& tbody {
						
						& tr {
							border: none;
							
							&:first-child td:first-child .tbody-wrapper {
								border-radius: 8px 0 0 8px;
							}
							
							&:last-child td:last-child .tbody-wrapper {
								border-radius: 0 8px 8px 0;
							}
							
							&:last-child td {
								border-bottom: none;
							}
							
							& td {
								background-color: transparent;
								border-bottom-color: #D5DBE3;
								
								& .tbody-wrapper {
								}
							}
						}
					}
				}
			}
		}
	}
}
.block-info {
	width: 100%;
	
	&-item {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		margin-bottom: 8px;
	}
	& .info-title {
		font-weight: 700;
		font-size: 14px;
		line-height: normal;
		color: #aaa;
		margin-bottom: 0;
		&-wrapper {
			flex: 0 1 100%;
			display: flex;
			align-items: center;
			grid-gap: 10px;
			margin-bottom: 5px;
			& .btn{
				padding: 0;
				border: none;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
	}
	
	& .info-btn-wrapper {
		& .btn {
			padding: 5px 6px;
			font-weight: 700;
			font-size: 14px;
			line-height: normal;
			text-align: center;
		}
		& .btn-outline-primary {
			--bs-btn-color: #3585f5;
			--bs-btn-border-color: #3585f5;
			--bs-btn-hover-color: #fff;
			--bs-btn-hover-bg: #3585f5;
			--bs-btn-hover-border-color:#3585f5;
			--bs-btn-focus-shadow-rgb: 25, 135, 84;
			--bs-btn-active-color: #fff;
			--bs-btn-active-bg:#3585f5;
			--bs-btn-active-border-color: #3585f5;
			--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
			--bs-btn-disabled-color: rgba(53, 133, 245, 0.7);
			--bs-btn-disabled-bg: transparent;
			--bs-btn-disabled-border-color: rgba(53, 133, 245, 0.7);
			--bs-gradient: none;
		}
	}
	
	& .info-links {
		display: flex;
		align-items: center;
		grid-gap: 10px;
		& > a {
			text-decoration: none;
		}
	}
	& .info-avatar {
		flex: 0 1 50px;
		margin-right: 10px;
		
		& img {
			width: 50px;
			height: 50px;
			object-fit: contain;
		}
	}
	& .info-description {
		font-size: 12px;
		line-height: normal;
		font-weight: 400;
		color: #111;
		margin: 0;
	}
	& .info-contacts {
		flex: 0 1 calc(100% - 60px);
		display: flex;
		flex-direction: column;
		
		&-name {
			font-weight: 400;
			font-size: 14px;
			line-height: normal;
			color: #111;
			margin: 0;
		}
		
		&-company {
			font-weight: 400;
			line-height: normal;
			color: #111;
			font-size: 12px;
			margin: 0 0 10px 0;
		}
		
		&-tel {
			font-weight: 700;
			font-size: 14px;
			line-height: normal;
			color: #111;
			text-decoration: underline dashed;
		}
		
		&-mail {
			font-weight: 700;
			font-size: 14px;
			line-height: normal;
			color: #111;
			text-decoration: underline;
			margin-bottom: 10px;
		}
	}
}
#example_wrapper {
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	
	& div.dt-layout-row:nth-child(1) {
		grid-gap: 12px;
		padding: 8px;
		background-color: transparent;
		width: 33.33333%;
		justify-content: flex-end;
		order: 2;
		margin: 0;
		border-radius: 8px 0 0 8px;
		& label {
			font-weight: 400;
			font-size: 14px;
			line-height: normal;
			text-align: right;
			color: #111;
		}
		& select {
			border: 1px dashed transparent;
			border-bottom-color: #3585f5;
			border-radius: 0;
			padding: 0;
			background-color: transparent;
			font-size: 14px;
			line-height: normal;
			font-weight: 700;
			color: #3585f5;
			outline: none;
		}
	}
	
	& div.dt-layout-row:nth-child(2) {
		width: 100%;
		margin: 0;
	}
	
	& div.dt-layout-row:nth-child(3) {
		background-color: transparent;
		padding: 8px;
		justify-content: space-between;
		grid-gap: 12px;
		width: 66.66666%;
		order: 1;
		margin: 0;
		border-radius: 0 8px 8px 0;
		& .dt-info {
			font-weight: 400;
			font-size: 14px;
			line-height: normal;
			color: #111;
		}
		& nav {
			display: flex;
			align-items: center;
			grid-gap: 6px;
		}
		& .dt-paging .dt-paging-button {
			width: 24px;
			height: 24px;
			font-weight: 700;
			font-size: 12px;
			color: #fff !important;
			border-radius: 100%;
			background-color: #3585f5;
			cursor: pointer;
			border: none !important;
			padding: 2px !important;
			background-image: none !important;
			&:hover {
				background: #fff !important;
				color: #3585f5 !important;
			}
			&.disabled {
				border: none !important;
			}
			&.previous {
				font-weight: 400;
				color: #111 !important;
				width: auto;
				background-color: transparent;
				border-radius: 6px;
				&:hover {
					background: #3585f5 !important;
					color: #fff !important;
				}
			}
			&.next {
				font-weight: 400;
				color: #111 !important;
				width: auto;
				background-color: transparent;
				border-radius: 6px;
				&:hover {
					background: #3585f5 !important;
					color: #fff !important;
				}
			}
			&.current {
				cursor: auto;
				box-shadow: inset 0 0 0 2px #fff;
				&:hover {
					background: #3585f5 !important;
					color: #fff !important;
				}
			}
		}
	}
}

.block-actions-wrapper {
	display: flex;
	align-items: center;
	grid-gap: 4px;
	
	& .menu-burger,
	& .menu-info {
		& .btn {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0;
			background-color: transparent;
			border: none;
			width: 26px;
			height: 26px;
			border-radius: 6px;
			
			&:hover {
				outline: none;
				border: none;
				background-color: #F6F8FB;
			}
		}
	}
	
	& .bookmark {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 26px;
		height: 26px;
		border-radius: 6px;
		
		&:hover {
			background-color: #F6F8FB;
		}
		
		& input {
			display: none;
		}
		
		& span {
			cursor: pointer;
		}
		
		& input:checked + span .non-checked {
			display: none;
		}
		
		& input:checked + span .on-checked {
			display: block;
		}
		
		& .non-checked {
			display: block;
		}
		
		& .on-checked {
			display: none;
		}
	}
}

.details-control-dop,
.details-control {
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: transparent;
	border: none;
	outline: none;
	
	&:hover {
		outline: none;
		border: none;
		background-color: transparent;
	}
}