.filter {
	&-header {
		display: flex;
		align-items: center;
		grid-gap: 20px;
		padding-bottom: 10px;
		
		
		& .mega-select {
			min-width: 200px;
			width: 100%;
			max-width: 440px;
			position: relative;
			background-color: #FFffff;
			border-radius: 6px;
			&.active .drop-menu {
				display: flex;
				border-radius: 0 0 6px 6px;
				& #country {
					display: block;
				}
			}
			&.active .input-search {
				border-radius: 6px 6px 0 0;
			}
			& .drop-menu-wrapper {
				width: 100%;
			}
			& .input-search {
				display: block;
				padding-left: 28px;
				position: relative;
				box-shadow: 0 0 0 1px transparent;
				font-weight: 700;
				line-height: normal;
				font-size: 14px;
				color: #111;
				border-radius: 6px;
				--bs-body-bg: #FFFFFF;
				& input {
					width: 100%;
					border-radius: 0 8px 8px 0;
					border: none;
					font-weight: 700;
					line-height: normal;
					font-size: 14px;
					color: #111;
					&:focus {
						box-shadow: none;
					}
					&::placeholder {
						font-weight: 700;
						font-size: 14px;
						line-height: normal;
						color: #aaa;
					}
				}
				&:after {
					content: "";
					display: block;
					position: absolute;
					left: 12px;
					top: calc(50% - 10px);
					background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='18' viewBox='0 0 14 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M7 0.9375C4.20775 0.9375 1.9375 3.228 1.9375 6.05325C1.9375 7.01025 2.359 8.1975 2.9725 9.38175C4.32325 11.9895 6.57325 14.616 6.57325 14.616C6.67975 14.7405 6.83575 14.8125 7 14.8125C7.16425 14.8125 7.32025 14.7405 7.42675 14.616C7.42675 14.616 9.67675 11.9895 11.0275 9.38175C11.641 8.1975 12.0625 7.01025 12.0625 6.05325C12.0625 3.228 9.79225 0.9375 7 0.9375ZM7 2.0625C9.175 2.0625 10.9375 3.85275 10.9375 6.05325C10.9375 7.15275 10.24 8.58525 9.4345 9.921C8.5705 11.3535 7.5595 12.669 7 13.365C6.4405 12.669 5.4295 11.3535 4.5655 9.921C3.76 8.58525 3.0625 7.15275 3.0625 6.05325C3.0625 3.85275 4.825 2.0625 7 2.0625Z' fill='%23AAAAAA' /%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M7 3.9375C5.8615 3.9375 4.9375 4.8615 4.9375 6C4.9375 7.1385 5.8615 8.0625 7 8.0625C8.1385 8.0625 9.0625 7.1385 9.0625 6C9.0625 4.8615 8.1385 3.9375 7 3.9375ZM7 5.0625C7.5175 5.0625 7.9375 5.4825 7.9375 6C7.9375 6.5175 7.5175 6.9375 7 6.9375C6.4825 6.9375 6.0625 6.5175 6.0625 6C6.0625 5.4825 6.4825 5.0625 7 5.0625Z' fill='%23AAAAAA' /%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.588 13.0328C11.1978 13.2158 11.7002 13.4423 12.0475 13.7078C12.2725 13.8788 12.4375 14.046 12.4375 14.25C12.4375 14.37 12.3693 14.4788 12.2733 14.5875C12.1143 14.7668 11.878 14.928 11.5855 15.078C10.552 15.6068 8.881 15.9375 7 15.9375C5.119 15.9375 3.448 15.6068 2.4145 15.078C2.122 14.928 1.88575 14.7668 1.72675 14.5875C1.63075 14.4788 1.5625 14.37 1.5625 14.25C1.5625 14.046 1.7275 13.8788 1.9525 13.7078C2.29975 13.4423 2.80225 13.2158 3.412 13.0328C3.709 12.9435 3.87775 12.6293 3.7885 12.3323C3.69925 12.0345 3.385 11.8658 3.088 11.955C2.1595 12.2348 1.438 12.618 1.0045 13.0418C0.6235 13.413 0.4375 13.8285 0.4375 14.25C0.4375 14.7765 0.73525 15.3015 1.3405 15.7395C2.4025 16.5075 4.5355 17.0625 7 17.0625C9.4645 17.0625 11.5975 16.5075 12.6595 15.7395C13.2647 15.3015 13.5625 14.7765 13.5625 14.25C13.5625 13.8285 13.3765 13.413 12.9955 13.0418C12.562 12.618 11.8405 12.2348 10.912 11.955C10.615 11.8658 10.3007 12.0345 10.2115 12.3323C10.1222 12.6293 10.291 12.9435 10.588 13.0328Z' fill='%23AAAAAA' /%3e%3c/svg%3e");
					background-repeat: no-repeat;
					background-position: center;
					width: 20px;
					height: 20px;
				}
				&:before {
					content: "";
					display: block;
					position: absolute;
					right: 12px;
					top: calc(50% - 10px);
					background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='11' height='6' viewBox='0 0 11 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.544461 0.207001C0.274961 0.474274 0.274961 0.905183 0.544461 1.17246L5.11496 5.70518C5.32946 5.91791 5.67596 5.91791 5.89046 5.70518L10.461 1.17246C10.7305 0.905183 10.7305 0.474274 10.461 0.207001C10.1915 -0.0602717 9.75696 -0.0602717 9.48746 0.207001L5.49996 4.15609L1.51246 0.201546C1.24846 -0.0602718 0.808461 -0.0602717 0.544461 0.207001Z' fill='%23111111' /%3e%3c/svg%3e");
					background-repeat: no-repeat;
					background-position: center;
					width: 20px;
					height: 20px;
				}
			}
			& .drop-menu {
				position: absolute;
				z-index: 10000;
				width: 100%;
				display: none;
				align-items: flex-start;
				background-color: #FFffff;
				border-top: 1px solid #EFEFEF;
				&-list {
					width: 100%;
					margin-bottom: 16px;
				}
				&-item {
					& .title {
						padding: 6px 10px 6px 28px;
						margin: 0;
						font-weight: 700;
						line-height: normal;
						font-size: 18px;
						color: #111;
						cursor: auto;
					}
				}
				& .my-custom-input {
					padding: 6px 10px 6px 28px;
					width: 100%;
					background-color: transparent;
					font-weight: 400;
					line-height: normal;
					font-size: 14px;
					color: #111;
					display: flex;
					justify-content: flex-start;
					grid-gap: 10px;
					align-items: center;
					&:hover {
						background: #f6f8fb;
					}
				}
				&-btn {
					padding: 6px 10px 6px 28px;
					margin: 0;
					width: 100%;
					background-color: transparent;
					font-weight: 400;
					line-height: normal;
					font-size: 14px;
					color: #111;
					text-align: left;
					display: flex;
					justify-content: space-between;
					align-items: center;
					border: none;
					& span {
						display: flex;
						flex-direction: column;
					}
					&:hover {
						background: #f6f8fb;
					}
				}
			}
			& #country {
				display: none;
				position: absolute;
				z-index: 5;
				background-color: #fff;
			}
			& #district {
				display: none;
				position: absolute;
				z-index: 15;
				background-color: #fff;
			}
			& #city {
				display: none;
				position: absolute;
				z-index: 10;
				background-color: #fff;
				& .title button {
					justify-content: flex-start;
					grid-gap: 12px;
					padding-left: 10px;
				}
				& .btn-take {
					padding: 6px 10px 6px 28px;
					margin: 0;
					width: 100%;
					background-color: transparent;
					text-align: left;
					display: flex;
					justify-content: space-between;
					align-items: center;
					border: none;
					font-weight: 700;
					font-size: 14px;
					line-height: normal;
					color: #3585f5;
					text-decoration: underline;
				}
			}
		}
		& .js-example-responsive2 + .select2-container {
			min-width: 180px;
		}
		& .js-example-responsive3 + .select2-container {
			min-width: 96px;
		}
		& .header-price {
			display: flex;
			align-items: center;
			grid-gap: 10px;
			& .form-control {
				max-width: 140px;
				min-width: 80px;
			}
			& .form-control {
				width: 100%;
				padding: 6px 10px;
				border: none;
				box-shadow: 0 0 0 1px transparent;
				font-weight: 700;
				font-size: 14px;
				line-height: normal;
				color: #111;
				border-radius: 8px;
				--bs-body-bg: #fff;
				&:focus {
					box-shadow: 0 0 0 1px transparent;
				}
				
				&::placeholder {
					font-weight: 700;
					line-height: normal;
					font-size: 14px;
					color: #aaa;
				}
			}
		}
		& .header-btn {
			display: flex;
			align-items: center;
			grid-gap: 4px;
			.btn-primary {
				width: 30px;
				height: 30px;
				display: flex;
				align-items: center;
				justify-content: center;
				--bs-btn-bg: #fff;
				--bs-btn-border-color: transparent;
				--bs-btn-border-radius: 6px;
				padding: 7px;
				--bs-btn-hover-bg: #F6F8FB;
				--bs-btn-hover-border-color: transparent;
				--bs-btn-active-bg: #fff;
				--bs-btn-active-border-color: transparent;
				& svg {
					width: 24px;
					height: 24px;
				}
			}
		}
	}
	&-tags {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		grid-gap: 8px;
		padding-bottom: 10px;
		& .badge {
			padding: 2px 9px;
			display: flex;
			align-items: center;
			grid-gap: 8px;
			font-weight: 400;
			height: 24px;
			font-size: 14px;
			line-height: 18px;
			letter-spacing: 1уь;
			border: 1px solid #D5DBE3;
			background-color: #FFFFFF;
			color: #111111;
			& button {
				display: flex;
				align-items: center;
				padding: 0;
				border: none;
				background: none;
				outline: none;
				cursor: pointer;
				& path {
					fill: #AAAAAA;
				}
			}
		}
	}
}
#list-street {
	display: none;
	position: relative;
	
	& .list-group {
		display: block;
		border-radius: 8px 8px 0 0;
	}
}
.btn-menu-drop {
	position: absolute;
	right: 0;
	bottom: -38px;
	width: 100%;
	border-radius: 0 0 8px 8px;
}