.block {
	padding-bottom: 60px;
	&-title {
		font-weight: 700;
		font-size: 16px;
		line-height: normal;
		color: #aaa;
		display: flex;
		align-items: center;
		text-wrap: nowrap;
		padding: 16px 0 16px;
		margin-bottom: 0;
		& >span >span {
			@media screen and (max-width: 420px) {
				display: block;
			}
		}
		&:after {
			content: "";
			display: block;
			width: 100%;
			margin-left: 10px;
			height: 1px;
			background-color: #d5dbe3;
		}
	}
	&-row {
		display: flex;
		align-items: flex-end;
		grid-gap: 16px;
		flex-wrap: wrap;
		& > .item {
			flex: 0 1 calc(25% - 12px);
			@media screen and (max-width: 992px) {
				flex: 0 1 calc(33.3333% - 10.66667px);
			}
			@media screen and (max-width: 768px) {
				flex: 0 1 calc(50% - 8px);
			}
			@media screen and (max-width: 564px) {
				flex: 1 1 100%;
			}
		}
	}
}