.filter-tags {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	grid-gap: 10px;
	padding-bottom: 0;
	
	& .badge {
		text-wrap: auto;
		text-align: left;
		padding: 2px 9px;
		display: flex;
		align-items: center;
		grid-gap: 8px;
		font-weight: 400;
		height: 24px;
		font-size: 14px;
		line-height: 18px;
		letter-spacing: .01em;
		border-radius: 6px !important;
		border: 1px solid #d5dbe3;
		background-color: #fff;
		color: #111;
		& .btn {
			border: none;
			background: none;
		}
	}
	.badge button {
		display: flex;
		align-items: center;
		padding: 0;
		border: none;
		background: 0 0;
		outline: 0;
		cursor: pointer;
		& path {
			fill: #AAAAAA;
		}
	}
}