.filter {
	&-header {
		display: flex;
		align-items: center;
		grid-gap: 20px;
		padding-bottom: 10px;
		& .js-example-responsive2 + .select2-container {
			min-width: 180px;
		}
		& .js-example-responsive3 + .select2-container {
			min-width: 96px;
		}
		& .header-price {
			display: flex;
			align-items: center;
			grid-gap: 10px;
			& .form-control {
				max-width: 140px;
				min-width: 80px;
			}
			& .form-control {
				width: 100%;
				padding: 6px 10px;
				border: none;
				box-shadow: 0 0 0 1px transparent;
				font-weight: 700;
				font-size: 14px;
				line-height: normal;
				color: #111;
				border-radius: 8px;
				--bs-body-bg: #fff;
				&:focus {
					box-shadow: 0 0 0 1px transparent;
				}
				
				&::placeholder {
					font-weight: 700;
					line-height: normal;
					font-size: 14px;
					color: #aaa;
				}
			}
		}
		& .header-btn {
			display: flex;
			align-items: center;
			grid-gap: 4px;
			.btn-primary {
				width: 30px;
				height: 30px;
				display: flex;
				align-items: center;
				justify-content: center;
				--bs-btn-bg: #fff;
				--bs-btn-border-color: transparent;
				--bs-btn-border-radius: 6px;
				padding: 7px;
				--bs-btn-hover-bg: #F6F8FB;
				--bs-btn-hover-border-color: transparent;
				--bs-btn-active-bg: #fff;
				--bs-btn-active-border-color: transparent;
				& svg {
					width: 24px;
					height: 24px;
				}
			}
		}
	}
	&-tags {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		grid-gap: 8px;
		padding-bottom: 10px;
		& .badge {
			padding: 2px 9px;
			display: flex;
			align-items: center;
			grid-gap: 8px;
			font-weight: 400;
			height: 24px;
			font-size: 14px;
			line-height: 18px;
			letter-spacing: 0.01em;
			border-radius: 6px !important;
			border: 1px solid #D5DBE3;
			background-color: #FFFFFF;
			color: #111111;
			& button {
				display: flex;
				align-items: center;
				padding: 0;
				border: none;
				background: none;
				outline: none;
				cursor: pointer;
				& path {
					fill: #AAAAAA;
				}
			}
		}
	}
}
#list-street {
	display: none;
	position: relative;
	
	& .list-group {
		display: block;
		border-radius: 8px 8px 0 0;
	}
}
.btn-menu-drop {
	position: absolute;
	right: 0;
	bottom: -38px;
	width: 100%;
	border-radius: 0 0 8px 8px;
}
.js-example-responsive3,
.js-example-responsive2 {
	background-color: #FFFFFF;
	font-weight: 700;
	font-size: 14px;
	color: #111;
	border-radius: 6px;
	height: 30px;
	border: none;
	padding: 6px 10px;
}