.filter {
	&-header {
		display: flex;
		align-items: center;
		grid-gap: 20px;
		padding-bottom: 10px;
		& .header-btn {
			display: flex;
			align-items: center;
			grid-gap: 4px;
			.btn-primary {
				width: 30px;
				height: 30px;
				display: flex;
				align-items: center;
				justify-content: center;
				--bs-btn-bg: #fff;
				--bs-btn-disabled-bg: #fff;
				--bs-btn-disabled-border-color: #fff;
				--bs-btn-border-color: transparent;
				--bs-btn-border-radius: 6px;
				padding: 7px;
				--bs-btn-hover-bg: #F6F8FB;
				--bs-btn-hover-border-color: transparent;
				--bs-btn-active-bg: #fff;
				--bs-btn-active-border-color: transparent;
				& svg {
					width: 24px;
					height: 24px;
				}
				&:disabled {
					& path {
						fill: #AAAAAA;
					}
				}
			}
		}
	}
}