#full-filter-btn {
	position: relative;
	
	&.active {
		background-color: #3585f5;
		& path {
			fill: #fff;
		}
		& + .full-filter-counter {
			background-color: #fff;
			box-shadow: inset 0 0 0 1px #3585f5;
			color: #3585f5;
			& svg {
				& path {
					fill: #3585f5;
				}
			}
		}
	}
}
.full-filter-btn-wrapper {
	position: relative;
	& .full-filter-counter {
		display: flex;
		align-items: center;
		grid-gap: 6px;
		position: absolute;
		top: -14px;
		right: -10px;
		background-color: #3585f5;
		border-radius: 20px;
		padding: 1px 4px;
		font-size: 12px;
		color: #fff;
		& button {
			display: flex;
			background-color: transparent;
			border: none;
			outline: none;
			padding: 0;
			& svg {
				width: 8px;
				height: 8px;
				& path {
					fill: #fff;
				}
			}
		}
	}
}
.full-filter {
	border-bottom: 1px solid #d5dbe3;
	display: none;
	
	&.active {
		display: block;
	}
	
	&-title {
		font-weight: 700;
		font-size: 16px;
		line-height: 100%;
		color: #aaa;
		display: flex;
		align-items: center;
		text-wrap: nowrap;
		
		&:after {
			content: "";
			display: block;
			width: 100%;
			margin-left: 10px;
			height: 1px;
			background-color: #d5dbe3;
		}
	}
	
	&-wrapper {
	
	}
	
	&-row {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-end;
		grid-gap: 16px;
		margin-bottom: 16px;
		
		&:first-child {
			& .item {
				width: calc(25% - 12px);
				display: flex;
				flex-direction: column;
			}
		}
		
		& select {
			outline: none;
		}
	}
	
	& .item {
		width: calc(16.66667% - 13.4px);
		display: flex;
		flex-direction: column;
		&.w12-5 {
			width: calc(12.5% - 13.4px);
		}
		&.filter-btn-outline,
		&.filter-btn {
			margin-top: auto;
			width: auto;
			min-width: 150px;
			@media screen and (max-width: 1280px) {
				min-width: 11%;
			}
			& .btn {
				font-weight: 700;
				font-size: 14px;
				text-align: center;
				color: #fff;
				border-radius: 6px;
				padding: 5px 10px;
				line-height: 100%;
				width: 100%;
				min-height: 30px;
				&.btn-outline-primary {
					border-color: #3585F5;
					color: #3585f5;
					background-color: #fff;
				}
				
				&.btn-primary {
					background-color: #3585f5;
					color: #fff;
					border-color: #3585F5;
				}
			}
		}
		
		&.date {
			min-width: 200px;
			& .label,
			& label {
				font-weight: 400;
				font-size: 14px;
				line-height: 100%;
				color: #111;
			}
			& > span {
				display: block;
			}
			& span:last-of-type {
				position: relative;
				background-color: #fff;
				border-radius: 6px;
				border: none;
				outline: 0;
				width: 100%;
				font-weight: 700;
				font-size: 14px;
				line-height: 100%;
				color: #111;
				& input {
					background-color: transparent;
					position: relative;
					z-index: 10;
				}
				& img {
					position: absolute;
					z-index: 1;
					top: 50%;
					right: 5px;
					transform: translateY(-50%);
				}
			}
		}
		
		&.search-on-id {
			& label {
				font-weight: 400;
				font-size: 14px;
				line-height: 100%;
				color: #111;
				margin-bottom: 6px;
			}
			
			& .item-inputSearchBtn {
				position: absolute;
				right: 10px;
				top: calc(50% - 8px);
				border: none;
				outline: none;
				background-color: transparent;
				padding: 0;
				width: 16px;
				height: 16px;
				border-radius: 6px;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
		
		&-inputSearch {
			width: 100%;
			border: none;
			outline: none;
			background-color: #fff;
			font-weight: 700;
			border-radius: 6px;
			font-size: 14px;
			line-height: 100%;
			color: #111;
			padding: 6px 28px 6px 10px;
			
			&::placeholder {
				font-weight: 700;
				font-size: 14px;
				line-height: normal;
				color: #aaa;
			}
			
			&-wrapper {
				position: relative;
			}
		}
		
		&-label {
			font-weight: 400;
			font-size: 14px;
			line-height: 100%;
			color: #111;
			margin-bottom: 6px;
		}
		
		&-inputText {
			padding: 6px 10px;
			background-color: #fff;
			border-radius: 6px;
			border: none;
			outline: none;
			width: 100%;
			font-weight: 700;
			font-size: 14px;
			line-height: 100%;
			color: #111;
			
			&::placeholder {
				font-weight: 700;
				font-size: 14px;
				line-height: normal;
				color: #aaa;
			}
			
			&-wrapper {
				display: flex;
				grid-gap: 20px;
				position: relative;
				
				&::after {
					content: "";
					display: block;
					width: 4px;
					height: 2px;
					position: absolute;
					top: calc(50% - 1px);
					left: calc(50% - 2px);
					background-color: #aaa;
				}
			}
		}
	}
}

.date-piker {
	background-color: #fff;
	border: none;
	padding: 6px 10px;
	outline: none;
}


.multiple-menu {
	position: relative;
	
	&-btn {
		width: 100%;
		background-color: #fff;
		border: none;
		outline: none;
		padding: 6px 10px;
		font-weight: 700;
		font-size: 14px;
		line-height: 100%;
		min-height: 30px;
		color: #111;
		text-align: left;
		position: relative;
		border-radius: 6px;
		&[data-open-menu="false"] + .multiple-menu-wrapper {
			display: none;
		}
		
		&[data-open-menu="true"] + .multiple-menu-wrapper {
			display: block;
		}
		
		&[data-open-menu="true"]:after {
			transform: rotateX(180deg);
		}
		
		&::after {
			content: "";
			position: absolute;
			top: calc(50% - 3px);
			right: 10px;
			display: block;
			width: 12px;
			height: 6px;
			background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='11' height='6' viewBox='0 0 11 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.544461 0.207001C0.274961 0.474274 0.274961 0.905183 0.544461 1.17246L5.11496 5.70518C5.32946 5.91791 5.67596 5.91791 5.89046 5.70518L10.461 1.17246C10.7305 0.905183 10.7305 0.474274 10.461 0.207001C10.1915 -0.0602717 9.75696 -0.0602717 9.48746 0.207001L5.49996 4.15609L1.51246 0.201546C1.24846 -0.0602718 0.808461 -0.0602717 0.544461 0.207001Z' fill='%23111111' /%3e%3c/svg%3e");
			background-repeat: no-repeat;
			background-position: center;
		}
	}
	
	&-wrapper {
		width: 100%;
		position: absolute;
		top: 30px;
		left: 0;
		z-index: 401;
		background-color: #fff;
		border-radius: 0 0 8px 8px;
		
		& > label {
			display: block;
			padding: 6px 10px;
			width: 100%;
			
			& .multiple-menu-search {
				width: 100%;
				background-color: #fff;
				border-radius: 6px;
				border: 1px solid #aeaeae;
				outline: none;
			}
		}
	}
	
	&-list {
		max-height: 180px;
		overflow-y: auto;
		margin-bottom: 0;
		
		&::-webkit-scrollbar {
			width: 4px;
		}
		
		&::-webkit-scrollbar-track {
			border-radius: 10px;
		}
		
		&::-webkit-scrollbar-thumb {
			border-radius: 10px;
			background-color: #919191;
		}
	}
	
	&-item {
		padding: 6px 10px;
		
		& label {
			display: flex;
			align-items: center;
			grid-gap: 6px;
		}
	}
}