.my-dropdown {
	max-width: 506px;
	width: 100%;
	position: relative;
	&-input-wrapper {
		position: relative;
	}
	&-label {
		display: block !important;
		margin-bottom: 0 !important;
		width: 100%;
		background-color: #fff;
		border: 1px solid #d5dbe3;
		border-radius: 6px;
	}
	&-input {
		width: 100%;
		font-weight: 700;
		font-size: 14px;
		color: #111;
		line-height: normal;
		outline: none;
		padding: 6px 54px 6px 32px;
		border: none;
		border-radius: 6px;
		&::placeholder {
			color: #aaa;
		}
	}
	&-geo-btn {
		position: absolute;
		top: calc(50% - 12px);
		left: 3px;
		border-radius: 6px;
		width: 24px;
		height: 24px;
		border: none;
		background-color: #aaa !important;
		display: flex;
		align-items: center;
		justify-content: center;
		outline: none;
		&.active {
			background-color: #3585f5 !important;
		}
		& picture {
			display: flex;
			& img {
				display: flex;
			}
		}
	}
	&-btn {
		border-radius: 6px;
		width: 24px;
		height: 24px;
		border: none;
		background-color: #aaa;
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: calc(50% - 12px);
		right: 3px;
		outline: none;
		&.active {
			background-color: #3585f5;
		}
		& picture {
			display: flex;
			& img {
				display: flex;
			}
		}
	}
	&-list-wrapper {
		position: absolute;
		z-index: 100;
		display: flex;
	}
	&-list {
		width: max-content;
		background-color: #fff;
		border: 1px solid #d5dbe3;
		border-radius: 6px;
		padding: 15px 10px 6px;
	}
	&-item {
		padding-right: 6px;
		margin-bottom: 10px;
		&:last-child {
			margin-bottom: 0;
		}
		&-label-radio {
		}
		&-radio {
			display: none;
			&:checked {
				& + .my-dropdown-item-radio-text::before {
					background-image: url("../../img/icon/radio-chek.svg");
				}
			}
		}
		
		&-radio-text {
			&::before {
				background-image: url("../../img/icon/radio.svg");
			}
		}
		&-label-checkbox {}
	
		&-checkbox {
			display: none;
			&:checked {
				& + .my-dropdown-item-checkbox-text::before {
					background-image: url("../../img/icon/checkbox-chek.svg");
				}
			}
		}
		&-checkbox-text {
			&::before {
				background-image: url("../../img/icon/checkbox.svg");
			}
		}
		&-radio-text,
		&-checkbox-text {
			display: inline-block;
			text-wrap: nowrap;
			position: relative;
			padding-left: 30px;
			&::before {
				content: '';
				position: absolute;
				left: 0;
				top: calc(50% - 10px);
				display: block;
				background-repeat: no-repeat;
				background-position: center;
				width: 20px;
				height: 20px;
			}
		}
	}
	&-next-list {
		margin-top: 10px;
		padding-left: 15px;
	}
	&-next-next-list {
		margin-top: 10px;
		padding-left: 15px;
	}
	&-search-wrapper {
		position: absolute;
		z-index: 100;
	}
	&-search-list {
		width: max-content;
		background-color: #fff;
		border: 1px solid #d5dbe3;
		border-radius: 6px;
		padding: 15px 10px 6px;
	}
	&-search-item {
		padding-right: 6px;
		margin-bottom: 10px;
		&:last-child {
			margin-bottom: 0;
		}
	}
}
.scroller {
	max-height: 290px;
	overflow-y: auto;
	margin-bottom: 0;
	&::-webkit-scrollbar {
		width: 4px;
	}
	&::-webkit-scrollbar-track {
		border-radius: 10px;
	}
	&::-webkit-scrollbar-thumb {
		border-radius: 10px;
		background-color: #919191;
	}
}
.eqweqw {
	font-weight: 700;
	font-size: 14px;
	color: #111;
}
#map-container {
	border-radius: 6px;
	& canvas {
		border-radius: 6px;
	}
}