body.lock {
	overflow: hidden !important;
}
.tui-image-editor {
	&-container {
		& .tui-image-editor-main-container {
			@media screen and (max-width: 768px) {
				height: calc(100% - 150px);
			}
		}
		& .tui-image-editor-menu-filter .tui-image-editor-submenu-item {
			@media screen and (max-width: 768px) {
				flex-direction: column;
				display: flex;
				padding: 0 16px;
			}
			& li:first-child.tui-image-editor-submenu-align {
				display: none;
			}
			& .tui-image-editor-partition {
				@media screen and (max-width: 768px) {
					display: none;
				}
			}
		}
		& .tui-image-editor-controls {
			background-color: #111;
			@media screen and (max-width: 768px) {
				height: 150px;
				padding-bottom: 30px;
			}
		}
		.btn-tui-wrapper {
			position: fixed;
			bottom: 13px;
			right: 20px;
			z-index: 10000;
			display: flex;
			gap: 10px;
			@media screen and (max-width: 768px) {
				left: 0;
				width: 100%;
				justify-content: center;
				bottom: 26px;
			}
		}
		& .tui-image-editor-menu {
			@media screen and (max-width: 768px) {
				display: block;
				margin-top: 16px;
			}
		}
		& .filter-color-item {
			display: none;
		}
	}
	&-header-logo,
	&-header-buttons {
		display: none;
	}
	&-menu-crop {
		& .tie-crop-button.action {
			display: flex !important;
			align-items: center;
			justify-content: center;
			grid-gap: 20px;
		}
	}
	&-help-menu.top {
		background-color: rgba(53, 133, 245, 0.3);
		@media screen and (max-width: 768px) {
			position: absolute;
			left: 26px !important;
			z-index: 100;
			flex-direction: column;
			width: 40px !important;
			height: auto !important;
		}
		&  use.normal.use-default {
			fill: #111 !important;
			stroke: #111 !important;
		}
		&  use.hover.use-default {
			fill: #111 !important;
			stroke: #111 !important;
		}
	}
	&-menu-resize {
		& .tie-resize-button.action {
			display: flex !important;
			align-items: center;
			justify-content: center;
			grid-gap: 20px;
		}
	}
	&-button  {
		&.cancel,
		&.apply {
			cursor: pointer;
			display: flex !important;
			align-items: center !important;
			& label {
				cursor: pointer;
			}
		}
		
		&.preset {
			&.preset-square,
			&.preset-3-2,
			&.preset-4-3,
			&.preset-5-4,
			&.preset-7-5,
			&.preset-16-9 {
				display: none !important;
			}
		}
	}
	
}

.btn-tui-save {
	background-color: #3585F5;
}

.tui-image-editor-container .tui-image-editor-help-menu>.tui-image-editor-item, .tui-image-editor-container .tui-image-editor-menu>.tui-image-editor-item {
	position: relative;
	display: inline-block;
	border-radius: 2px;
	padding: 7px 8px 7px;
	cursor: pointer;
	margin: 0 4px;
}

.tui-image-editor-container .tui-image-editor-help-menu.top {
	display: flex;
	align-items: center;
}

.tui-image-editor-container .tui-image-editor-icpartition {
	display: block;
}

.tui-image-editor-wrap {
	@media screen and (max-width: 1024px) {
		padding-left: 40px;
	}
}

li.tui-image-editor-item:not([tooltip-content]) {
	@media screen and (max-width: 1024px) {
		display: none !important;
	}
}

.tui-image-editor-canvas-container {
	@media screen and (max-width: 1024px) {
		padding-left: 40px !important;
	}
	& > * {
		@media screen and (max-width: 1024px) {
			padding-left: 52px !important;
		}
	}
}

.tui-image-editor-main .lower-canvas,
.tui-image-editor-main .upper-canvas,
.tui-image-editor-main .tui-image-editor-wrap,
.tui-image-editor-main .lower-canvas,
.tui-image-editor-main .upper-canvas,
.tui-image-editor-main .tui-image-editor-wrap,
.tui-image-editor-main .lower-canvas,
.tui-image-editor-main .upper-canvas,
.tui-image-editor-main .tui-image-editor-wrap {
	object-fit: contain !important;
	left: 50% !important;
	transform: translateX(-50%) !important;
}

.tui-image-editor-main.tui-image-editor-menu-rotate .lower-canvas,
.tui-image-editor-main.tui-image-editor-menu-rotate .upper-canvas,
.tui-image-editor-main.tui-image-editor-menu-rotate .tui-image-editor-wrap,
.tui-image-editor-main.tui-image-editor-menu-crop .lower-canvas,
.tui-image-editor-main.tui-image-editor-menu-crop .upper-canvas,
.tui-image-editor-main.tui-image-editor-menu-crop .tui-image-editor-wrap,
.tui-image-editor-main.tui-image-editor-menu-resize .lower-canvas,
.tui-image-editor-main.tui-image-editor-menu-resize .upper-canvas,
.tui-image-editor-main.tui-image-editor-menu-resize .tui-image-editor-wrap {
	max-height: calc(100vh - 305px) !important;
	@media screen and (max-width: 580px) {
		max-height: calc(100vh - 365px) !important;
	}
}

.tui-image-editor-container .tui-image-editor-main {
	top: 0 !important;
}

.tui-image-editor-main .tui-image-editor {
	height: 100% !important;
	width: 100% !important;
	top: auto !important;
}

.tui-image-editor-main .tui-image-editor-canvas-container {
	max-height: 100% !important;
	max-width: 100% !important;
}

.tui-image-editor-container .tui-image-editor {
	display: block !important;
}