.item.company-branch-phone,
.item.phone {
	margin-bottom: 0;
	& [data-phone-item] {
		position: relative;
		width: 100%;
	}
	&  .btn.btn-new-tel {
		min-width: 0 !important;
		position: absolute;
		top: 0;
		right: 0;
		padding: 0;
		border: none;
		width: 24px;
		height: 24px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
.item-inputText-wrapper {
	width: 100%;
}
.iti {
	width: 100%;
}

.iti__flag {
	//background-image: url("https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.9/img/flags.png");
}

.iti__selected-flag {
	padding: 0 10px;
}