.sidebar {
	max-width: 70px;
	width: 100%;
	min-height: 100vh;
	background-color: #04254E;
	
	&-logo {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		padding: 23px 0;
		box-shadow: inset 0 0 0 2px #04254E;
		&:hover {
			background-color: #FFFFFF1A;
			cursor: pointer;
		}
	}
}

.sidebar .nav {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	flex-wrap: nowrap;
	height: 100vh;
	overflow-Y: auto;
	overflow-X: hidden;
	position: sticky;
	top: 0;
	left: 0;
	&::-webkit-scrollbar {
		width: 2px;
		padding-right: 8px;
	}
	&::-webkit-scrollbar-track {
		background-color: #FFFFFF;
		border-radius: 8px;
	}
	&::-webkit-scrollbar-thumb {
		border-radius: 6px;
		background-color: #C2CDD8;
	}
	&-list {
		width: 100%;
		margin-bottom: 0;
		&-item {
		padding: 0;
			&:first-child {
				& .nav-list-link {
					background-color: #fff;
					padding-bottom: 23px;
				}
			}
		}
		&-link {
			text-decoration: none;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			padding-bottom: 8px;
			
			&:hover {
				background-color: #FFFFFF1A;
				cursor: pointer;
			}
			&.active {
				background-color: #FFFFFF1A;
				cursor: auto;
				& .nav-list-text {
					color: #fff;
				}
			}
		}
		&-text {
			font-family: 'PTSans', sans-serif;
			font-weight: 700;
			font-size: 10px;
			line-height: normal;
			color: #FFFFFF;
		}
		&-icon {
			padding: 6px;
			border-radius: 8px;
			display: flex;
			background-color: transparent;
			position: relative;
			& .my-badge {
				position: absolute;
				top: 0;
				right: -5px;
				background-color: #3585F5;
				font-weight: 700;
				font-size: 12px;
				height: 24px;
				min-width: 24px;
				text-align: center;
				padding: 4px 5px;
				border-radius: 50px;
				color: #fff;
			}
		}
	}
	&-info {
		width: 100%;
		margin-bottom: 0;
		&-item {
			padding: 0;
			&:last-of-type {
				& img {
					width: 40px;
					height: 40px;
					object-fit: cover;
					border-radius: 8px;
				}
			}
		}
		&-link {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 6px;
			&:hover {
				background-color: #FFFFFF1A;
				cursor: pointer;
			}
			& .my-badge {
				position: absolute;
				top: 8px;
				left: 75%;
				transform: translateX(-50%);
				padding: 4px;
				background-color: #F97474;
				border-radius: 50px;
				font-size: 10px;
				font-weight: 700;
				color: #fff;
			}
		}
	}
}