@import "_default";
@import "_side-bar";
@import "page-create/_page-create";
@import "_my-dropdown";

@import "_modal";


.my-dropdown {
	max-width: 100%;
}

.iti {
	width: 100%;
}
.iti__flag {
	background-image: url("https://cdn.jsdelivr.net/npm/intl-tel-input@25.3.1/build/img/flags.png");
}