.select2.select2-container {
	width: 100% !important;
}

.js-example-responsive3,
.js-example-responsive2 {
	background-color: #FFFFFF;
	font-weight: 700;
	font-size: 14px;
	color: #111;
	border-radius: 6px;
	height: 30px;
	border: none;
	padding: 6px 10px;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
	font-weight: 700;
	font-size: 14px;
	color: #aaa;
}