.block-my-data {
	& .block-row:first-of-type {
		align-items: stretch;
		@media screen and (max-width: 574px) {
			margin-bottom: 0;
		}
		& .item {
			&:first-child {
				& .item {
					width: 100%;
				}
			}
			&:nth-child(2) {
				& .tab-the-name {
					& textarea {
						min-height: 142px;
					}
				}
			}
			&:last-child {
				justify-content: flex-start;
			}
		}
	}
	& .block-row:last-of-type {
		margin-bottom: 0;
		& .phone > .item [data-phone-item] {
			margin-top: 16px;
		}
	}
}

.tab-the-name {
	position: relative;
	width: 100%;
	& .nav {
		&-tabs {
			padding-bottom: 0;
			border-bottom: none;
			grid-gap: 10px;
			position: absolute;
			z-index: 10;
			top: 0;
			right: 0;
		}
		&-item {
			& .nav-link {
				border: 1px solid #d5dbe3;
				border-radius: 6px;
				height: 20px;
				padding: 0 7px;
				background: #fff;
				font-weight: 700;
				font-size: 14px;
				text-align: center;
				line-height: normal;
				color: #3585f5;
				&.active {
					color: #aaa;
				}
				&.ai {
					background: #3585f5;
					color: #fff;
					border-color: #3585f5;
				}
			}
		}
	}
}
.my-dropdown {
	max-width: 100%;
}
.data {
	& span:last-of-type {
		position: relative;
		background-color: #fff;
		border-radius: 6px;
		border: none;
		outline: 0;
		width: 100%;
		font-weight: 700;
		font-size: 14px;
		line-height: normal;
		color: #111;
		& input {
			background-color: transparent;
			position: relative;
			z-index: 10;
		}
		& img {
			position: absolute;
			z-index: 1;
			top: 50%;
			right: 5px;
			transform: translateY(-50%);
		}
	}
}