.block {
	&-header {
		padding: 10px 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
		@media screen and (max-width: 768px) {
			flex-direction: column;
			align-items: flex-start;
			grid-gap: 20px;
		}
		
		&-left {
			display: flex;
			align-items: center;
		}
		
		&-back {
			display: flex;
			align-items: center;
			padding: 6px;
			margin-right: 36px;
			
			& picture {
				display: flex;
				align-items: center;
			}
		}
		
		&-title {
			font-weight: 400;
			line-height: normal;
			font-size: 24px;
			color: #111;
			margin-bottom: 0;
			@media screen and (max-width: 576px) {
				font-size: 18px;
			}
		}
		
		&-right {
			display: flex;
			align-items: center;
			@media screen and (max-width: 480px) {
				flex-direction: column;
				width: 100%;
				align-items: flex-start;
				grid-gap: 10px;
			}
			& .btn {
				padding: 5px 6px;
				font-weight: 700;
				font-size: 14px;
				line-height: 100%;
				min-height: 30px;
				text-align: center;
				@media screen and (max-width: 620px) {
					width: 100%;
				}
			}
			& .btn-primary {
				--bs-btn-color: #fff;
				--bs-btn-bg: #3585f5;
				--bs-btn-border-color: #3585f5;
				--bs-btn-hover-color: #fff;
				--bs-btn-hover-bg: #3585f5;
				--bs-btn-hover-border-color: #3585f5;
				--bs-btn-focus-shadow-rgb: 49, 132, 253;
				--bs-btn-active-color: #fff;
				--bs-btn-active-bg: #3585f5;
				--bs-btn-active-border-color: #3585f5;
				--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
				--bs-btn-disabled-color: rgba(255, 255, 255, 0.7);
				--bs-btn-disabled-bg: rgba(53, 133, 245, 0.7);
				--bs-btn-disabled-border-color: rgba(53, 133, 245, 0.7);
			}
		}
	}
}
